body{
    background-color:rgb(200, 228, 255);
}
#dtable {
    width: 50rem;
    margin: 4rem auto;
    border-radius: 30rem;
  }
  
  .th-sm{
    background-color: rgb(14, 67, 167);
    height: 5rem;
  }
  #dtable tr:nth-child(odd) {
    background-color: rgb(80, 93, 179);
    text-align: center;
    height: 3rem;
  }
  
  #dtable tr:nth-child(even) {
    background-color: rgb(129, 158, 224);
    text-align: center;
    height: 3rem;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: rgb(246, 246, 246);
    color: black;
  }
  
  .previous {
    
    background-color: black;
    color: white;
    border-radius: 3px !important;
  }
  
  .next {
    background-color: #3242a6;
    color: white;
    border-radius: 3px !important;
  }
  #div1{
    padding-top: 0.8cm;
    padding-left: 16.3cm;
  }
  #download{
	background-color: rgb(196, 98, 0);
    color: white;
    padding-top: 0.3cm;
    margin-top:50px;
    margin-left:10cm;
    float:right;
    border-radius: 3px !important;
  }
  #download:hover {
    background-color: rgb(246, 246, 246);
    color: black;
  }
 

#text{
	text-align: center;
	margin:25px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5cm;
	padding: 20px;
    
    
    
}

.row{
	margin-top: 5.5rem;
	margin-right: 20px;
	border-radius: 5px;
	padding: 20px;
}

.container {
	position: absolute;
	margin-top: 16px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#btnAdd{
	margin-top: 10px;
	min-width: 1.5em;
	padding: 0.5em 1em;
	margin-right: 2px;
	padding: 0.755em;
	text-align: center;
	margin-left: 40px;
	border: 1px;
	border-radius: 10px !important;
	color: white !important;
	background-color:  #3242a6;
}
#btnAdd:hover{
	border: 1px solid #979797;
  	background: none !important;
  	border-radius: 10px !important;
   	background-color: #000 !important;
   	color: #fff !important;
}
form {
	margin-right: 40px;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
	border: 2px;
	border-color: #000;
	padding-left: 30px;
	padding-right: 40px;
	margin-bottom: 40px;
	background-color: rgb(129, 158, 224);
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_length {
	float: left;
	text-align: left;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding: 0.715em;
	margin-top: 10px;

}
.dataTables_wrapper .dataTables_paginate  {
	float: right;
	text-align: right;
	margin-top: 10px;
	padding: 0.725em;
	margin-right: 2px;


}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	min-width: 1.5em;
	padding: 0.5em 1em;
	margin-right: 2px;
	padding: 0.755em;
	text-align: center;       
	
}

.dt-button {
	
	border-radius: 3px !important;
	background: rgb(196, 98, 0) !important;
	color:#fff !important;
	
}
.dt-button:hover{
	
	border-radius: 3px !important;
   	background-color: #000 !important;
   	color: #fff !important;
}